.product-label, #total {
    font-size:xx-large;
    color: black;
    margin-top: -15px;
    margin-bottom: 10px;
}

.cart-page {
    display: grid;
    grid-template: repeat(5, auto) / repeat(3, auto);
    column-gap: 10px;
    place-items: center;
    justify-content: space-evenly;
}

.items-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 1 / 3;
    justify-self: left;
    margin-bottom: 1rem;
}

.checkout-section {
    grid-column: 3 / 4;
}