.messages {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5%;
    background-color: #def1c399;
    width: 20%;
}

.link-group {
    margin: auto;
}

.sign-up-links {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}