/* html {
    height: 100%;
}

body {
    background: rgb(119,167,54);
    background: linear-gradient(180deg, rgba(119,167,54,1) 35%, rgba(114, 167, 54, 0.625) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */