.search-bar {
    display: flex;
    align-items: flex-end;
}

.search-label {
    margin-right: 5px;
    font-size: large;
    font-weight: 600;
}

.search-input {
    border: none;
    border-radius: 5%;
    width: 10rem;
}