.NavBar {
    background-color: #f6ae33;
    border-bottom: 1px solid rgb(248, 182, 84);
}
.nav-link .active {
background-color: #def;
}
.nav-bar-left {
width: 100%;
height: 100%;
display: flex;
align-items: flex-start;
}

.nav-bar-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    }

.nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}