.nav-bar {
    background-color: #f6ae33;
    border-bottom: 1px solid rgb(248, 182, 84);
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.navbar-brand {
    font-size: 2rem;
    text-align: center;
}

.navbar-left .container{
height: 100%;
display: flex; 
align-items: center;
justify-content: center;
}


/* TODO - CORRECT COLLAPSIBLE LAYOUT */
#navbar-right {
    width: 50%;
    height: 100%;
    display: block;
    /* align-items: center;
    text-align: center;
    justify-content: center; */
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.navbar-toggler:hover {
    background-color: rgb(255, 174, 52);
}

/* #basic-navbar-nav {
    NOTE - block display prevents toggle collapse
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
} */