.item-tile {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    border: 1px solid black;
    padding: 2rem;
    padding-bottom: 5rem;
    background-color: #f3f7eea5;
}

.product-details {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}