footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    height: 2.5rem;  
    background-color: rgb(255, 200, 0);  
  }

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 0.5rem;
    justify-content: space-around;
}

li {
    margin-bottom: 0px;
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}

