@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

html {
    height: 100%;       
    box-sizing: border-box;    
}

body {
    background: url("/src/assets/landing-page.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%; 
    overflow: scroll;
    text-align: center;
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    color: white;
}

li {
    list-style-type:none;
}

button{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
appearance: none;
padding: 6px 16px;
width: 50%;
margin: 10px auto;
background-color: rgb(255, 200, 0);
border: 1px solid black;
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
line-height: 20px;
display: block;
-webkit-appearance:normal;
font-size: 1em;
word-wrap: break-word;
}

button:active {
background-color: rgb(255, 225, 0);
box-shadow: 0 5px #666;
transform: translateY(4px);
}

button:focus:not(:focus-visible):not(.focus-visible) {
box-shadow: none;
outline: none;
}

button:hover {
background-color: rgb(255, 225, 0);
}

form {
padding: 1.5rem;
border: 1px solid black;
border-radius: 3%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 60%;
margin: 20px auto;
background-color: #c1e293;
}

input {
    width: 60%;
    margin: auto;
}

.errors {
    color: red;
    font-size: small;
}
