body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type:none;
}

.NavBar {
  background-color: #f6ae33;
  border-bottom: 1px solid rgb(248, 182, 84)
}
